<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <header>
        <h1>Posts</h1>
    </header>
    <section>
        <a href="/posts/create">Create Post</a>
    </section>  
    <main>
        <ol>
        <% postList.results.forEach(function(post) {%>
            <li>
                <%= post.message %> - <time datetime="YYYY-MM-DD HH:MM:SS"><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></time>
            </li>
        <% }); %>
        </ol>
    </main>
    <footer>
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
    </footer>
</body>
<%- include('_footer') -%>
</html>