<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    
   <!-- <section>
        <a href="/posts/create">Create Post</a>
    </section>  -->
    <section class ="postHeader">
       <img  class="postHeaderImg"src="../images/landscape.jpg" />
        <div class="nameLine">
            <p class="nameSurname">Name Surname</p>
        </div>
        <img class="personImg" src="../images/person_image.png" />
    </section>
    <main >
        <label>Posts</label>
        <div class=""></div>
        <div class="postItems">
           
            <% postList.results.forEach(function(post) {%>
                <div class="posts">
                     <div class="postImg">
                         <img class= "postImage" src=<%=post.imageUrl %> />
                     </div>
                     <div > 
                         <time datetime="YYYY-MM-DD HH:MM:SS"><%= format(post.createdAt, "dd/MM/yyyy") %></time>
                        <div class="postMessage"> <%= post.message %></div> 
                     </div>
                 </div>
             <% }); %>
             
        </div>    
    </main>
    <footer class="postFooter">
        <%if (postList.next) { %>
           <button><a href="<%= postList.next %>">Load more</a></button> 
        <% } %>
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
    </footer>
</body>
<%- include('_footer') -%>
</html>