<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    
   <!-- <section>
        <a href="/posts/create">Create Post</a>
    </section>  -->
    <section class ="postHeader">
       
    </section>
    <main >
        <label>Posts</label>
        <div class="postHeaderImg"></div>
        <div class="postItems">
           
            <% postList.results.forEach(function(post) {%>
               <div class="posts">
                    <div class="postImg"></div>
                    <%= post.message %> - <time datetime="YYYY-MM-DD HH:MM:SS"><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></time>
               </div>
            <% }); %>
            
        </div>    
    </main>
    <footer>
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
    </footer>
</body>
<%- include('_footer') -%>
</html>