<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <header>
        <h1>Posts</h1>
    </header>  
    <main>
    <% postList.results.forEach(function(post) {%>
        <article>
            <%= post.message %> - <time><%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %></time>
        </article>
    <% }); %>
    </main>
    <footer>
        <%if (postList.next) { %>
            <a href="<%= postList.next %>">Next</a>
        <% } %>
        <%if (postList.previous) { %>
            <a href="<%= postList.previous %>">Previous</a>
        <% } %>
    </footer>
</body>
<%- include('_footer') -%>
</html>