<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
    <header>
        <h1>Users</h1>
    </header>
    <section>
        <a href="/users/create">Create User</a>
    </section>  
    <main>
        <ol>
        <% results.forEach(function(user) {%>
            <li>
                <%= user.name %> 
            </li>
        <% }); %>
        </ol>
    </main>
    <footer>
        <%if (next) { %>
            <a href="<%= next %>">Next</a>
        <% } %>
        <%if (previous) { %>
            <a href="<%= previous %>">Previous</a>
        <% } %>
    </footer>
</body>
<%- include('_footer') -%>
</html>